<div class="gof-auth-container">
    <div class="logo-container">
        <i class="gof-logo"></i>
    </div>
    <form
        autocomplete="off"
        [formGroup]="loginForm"
        class="auth-form-container">
        <span class="form-title">LOGIN</span>
        <app-input-field
            [controlLabel]="'Email'"
            [controlName]="'email'"
            [formGroup]="loginForm"
            [controlType]="'email'">
        </app-input-field>
        <app-input-field
            [controlLabel]="'Password'"
            [controlName]="'password'"
            [formGroup]="loginForm"
            [controlType]="'password'">
        </app-input-field>
        <span class="server-error">{{serverErrorMessage}}</span>
        <button
            type="button"
            class="mui-btn"
            (click)="login()"
            [disabled]="!loginForm.valid">
            LOGIN
        </button>
    </form>
    <span class="sing-up-label">
        Don't have an account?
        <span [routerLink]="['/'+ROUTING_CONSTANTS.authentication.register]">Sign up here</span>
    </span>
</div>
