$background: #19002B;
$title: #392A47;
$button: #392A47;
$highlightText: #49C49F;
$darkText: #707070;
$semiLightText: #BEBEBE;
$lightText: #D5D5D5;
$errorText: #FB7F5F;
$itemBackground: #4a3957;
$modalBackground: #4B3957;