body {
  @include font-roboto();
}

main {
  background-color: $dark-purple;
  min-height: 100vh;
}

input {
  border-left: none;
  border-right: none;
  border-top: none;
}

.gof-logo {
  display: inline-block;
  width: 167px;
  height: 51px;
  background: url("./assets/images/gof.svg");
}

.logo {
  background: url("./assets/images/gof.svg");
}

.logo-white {
  background-image: url('./assets/images/GoF-logo-white.svg');
}

.gof-trailer-container {
  display: flex;
}

